/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.logo-text {
    text-align: center;
}

.picture-container {
    /* border: 1px solid black; */
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* -moz-box-sizing: border-box; */
    position: relative;
    overflow: hidden;
    /* -moz-overflow: hidden; */
}

.picture-frame {
    width: 300px;
    /* max-height: 300px; */
    /* max-height: 40%; */
    min-height: 100%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    /* -moz-overflow: hidden; */
    /* display: inline-block; */
}

.picture-frame img {
    max-width: 175%;
    max-height: 300px;
    flex-shrink: 0;
    opacity: 0.9;
    transition: transform 500ms;
}


/* using the :hover pseudo-class */
.picture-frame:hover{
    /* outline: 2px solid red; */
    transform: scale(1.10);
    
}

.picture-frame:hover img{
    transform: scale(1.10);
    opacity: 1.0;
    
}

.picture-frame.big {
    transform: scale(2.0);
    opacity: 1.0;
    
}
.picture-frame.big img {
    opacity: 1.0;
}

@media screen and (min-width: 500px) {
    .picture-frame {
        /* width: 40%; */
    }
}

@media screen and (min-width: 1000px) {
    .logo-text {
        /* text-align: center; */
        font-size: 45px;
    }
}
